absl-py
aiohttp
aiosignal
anyascii
asttokens
astunparse
async-timeout
attrs
backcall
bleach
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpickle
colorama
comm
confection
contourpy
contractions
cycler
cymem
Cython
dask
datasets
debugpy
decorator
dill
emoji
#VALUE!
exceptiongroup
executing
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
funcy
future
gast
gensim
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
htmlmin
huggingface
huggingface-hub
idna
ImageHash
importlib-metadata
inexactsearch
iniconfig
ipykernel
ipython
ipywidgets
itsdangerous
jax
jedi
Jinja2
joblib
jupyter_client
jupyter_core
jupyterlab-widgets
keras
kiwisolver
langcodes
langdetect
libclang
locket
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
multidict
multimethod
multiprocess
murmurhash
names-dataset
nest-asyncio
networkx
nltk
numexpr
numpy
oauthlib
openai
opt-einsum
packaging
pandarallel
pandas
pandas-profiling
parso
partd
pathy
patsy
phik
pickleshare
Pillow
platformdirs
pluggy
preshed
prompt-toolkit
protobuf
psutil
pure-eval
py4j
pyahocorasick
pyarrow
pyasn1
pyasn1-modules
pybind11
pydantic
Pygments
pyLDAvis
pyparsing
pyspark
pyspellchecker
pytest
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
requests-oauthlib
responses
rouge-score
rsa
scikit-learn
scipy
seaborn
silpa-common
six
smart-open
soundex
spacy
spacy-langdetect
spacy-legacy
spacy-loggers
srsly
stack-data
statsmodels
swifter
tangled-up-in-unicode
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
text-preprocessing
textblob
textsearch
thinc
threadpoolctl
tokenizers
tomli
toolz
tornado
tqdm
traitlets
transformers
typeguard
typer
typing_extensions
tzdata
unittest-xml-reporting
urllib3
wasabi
wcwidth
webencodings
Werkzeug
widgetsnbextension
wordcloud
wrapt
xxhash
yarl
ydata-profiling
zipp
